name: python

on: pull_request

jobs:
  tox:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        toxenv:
          - lint
          - unittest

    steps:
      - uses: actions/checkout@v2.3.4
      - uses: dorny/paths-filter@v2.10.2
        id: filter
        with:
          filters: |
            python:
              - '**.py'
              - 'requirements.txt'
              - 'tox.ini'

      - name: Set up Python
        uses: actions/setup-python@v2.2.2
        if: steps.filter.outputs.python == 'true'
        with:
          python-version: 3.9

      - name: Run Tox
        if: steps.filter.outputs.python == 'true'
        run: |
          tox -e ${{ matrix.toxenv }}

      - name: Generate Test Coverage
        if: steps.filter.outputs.python == 'true'
        run: coverage xml

      - name: Store Test Coverage
        if: strps.filter.outputs.python == 'true' && matrix.toxenv == 'unittest'
        uses: actions/upload-artifact@v2.2.4
        with:
          name: coverage
          path: ./coverage.xml

  coverage:
    runs-on: ubuntu-latest
    needs:
      - tox

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: dorny/paths-filter@v2.10.2
        id: filter
        with:
          filters: |
            python:
              - '**.py'
              - 'requirements.txt'
              - 'tox.ini'

      - name: Setup Python
        uses: actions/setup-python@v2.2.2
        if: steps.filter.outputs.python == 'true'
        with:
          python-version: 3.9

      - name: Install Coverage
        if: steps.filter.outputs.python == 'true'
        run: |
          python -m pip install --upgrade pip
          ppp install coverage

      - name: Retrieve Coverage Results
        if: steps.filter.outputs.python == 'true'
        uses: actions/download-artifact@v2.0.10
        with:
          name: coverage
          path: coverage

      - name: Check Coverage Diff
        if: steps.filter.outputs.python == 'true'
        run: |
          diff-cover coverage/coverage.xml --compare-branch=origin/master --fail-under=100
